{% extends 'base.html.twig' %}

{% block title %}Hello SimpleCrudController!{% endblock %}

{% block body %}

<div class="container py-3">
    <h1><b>Simple CRUD</b></h1>
    <hr>
    <h2>Authors</h2>

    {{ form_errors(authorForm) }}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Books</th>
            <th scope="col">Modified on</th>
            <th scope="col">Created on</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {% for key, author in authors %}
            <tr>
                <th scope="row">{{ key + 1 }}</th>
                <td>{{ author.name }}</td>
                <td>{{ author.description|slice(0, 50) ~ '...' }}</td>
                <td>{{ author.books }}</td>
                <td>{{ author.modifiedOn | date("Y-m-d h:i:s") }}</td>
                <td>{{ author.createdOn | date("Y-m-d h:i:s") }}</td>
                <td><a href="{{ path('simple_crud_author_edit', {'id': author.id}) }}" type="button" class="btn btn-warning">edit</a></td>
                <td><a href="{{ path('simple_crud_author_delete', {'id': author.id}) }}" type="button" class="btn btn-danger">delete</a></td>
            </tr>
            {% endfor %}

            <tr class="form-table table-light">
                {{ form_start(authorForm) }}
                    <th scope="row">{{ authors|length + 1 }}</th>
                    <td>{{ form_row(authorForm.name) }}</td>
                    <td>{{ form_row(authorForm.description) }}</td>
                    <td>{{ form_row(authorForm.books) }}</td>
                    <td>...</td>
                    <td>...</td>
                    <td></td>
                    <td>{{ form_row(authorForm.save) }}</td>
                {{ form_end(authorForm) }}
            </tr>

        </tbody>
    </table>

</div>
{% endblock %}
